.container{
    display: flex;
    justify-content: center;

    padding: 1rem;

}

/*pantalla de computadora*/
@media (min-width: 800px) {
.card{
    width: 100%;
    height: 100%;
}
}
img{
    height: 8rem;
    /*´rpíedad para ajustaer tamaño al cotenidoy mantener la calidad*/
    object-fit: cover;
}
/*pantalla de celular*/
@media (max-width: 750px){
    .card{
        width:100%;
        
    }
}

.title{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    padding: 8rem;
}
img{
    height: 8rem;
    object-fit: cover;
}
@media (max-width: 750px) {
    .card{
        width: 100%;
    }
    .title{
        color: blueviolet;
    }
}